:root{
    background-color: rgb(41, 40, 40);
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    gap: 25px;
}

h1{
    color: aquamarine;
}

h4{
    color: lightslategray;
}

.peque {
    font-size: 10px;
}

a{text-decoration: none;}

header{
    display: flex;
    flex-direction: column;
}

.cabeza{
    display: flex;
    flex-direction: row;
    gap: 182px;
    align-items: center;
}

#puntos{
    display: flex;
    background-color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

body{
    margin-left: 35px;
}

main{
    display: flex;
}

.cuestionario {
    color: aquamarine;
}

.muestrario{
    display: flex;
    flex-direction: column;
    background-color:black;
    color: aquamarine;
    margin-left: 20px;
    padding-inline: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
    width: 100px;
    border-radius: 20px;
    align-items: center;
    font-weight: 750;
    .muestra {
        margin-top: 40px;
    }
}
    .muestra:hover{
        color:rgb(255, 255, 255);
        scale: 20px;
        transition: 0.5s;
    }

.imaginario {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    background-color:aquamarine;
    color: black;
    margin-left: 20px;
    padding-inline: 30px;
    padding-top: 7px;
    width: 36px;
    border-radius: 20px;
    align-items: center;
    margin-top: 10px;
    .icono {
        margin-top: 13.5px;
    }
}

.correcto{
    color: rgb(166, 255, 0);
}

.incorrecto{
    color: rgb(255, 0, 60);
}

.on {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    padding: 100px;
    background-color: rgb(41, 40, 40);
    margin: 0;
}

.off{
    display: none;
}

.on2 {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    padding-inline: 100px;
    padding-block: 100px;
    background-color:rgb(41, 40, 40);
    margin: 0;
}

.btn_lvl {
    display: flex;
    background-color: black;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin: 20px;
    background-color: aquamarine;
    color: black;
}

.btn_lvl:hover {
    background-color: rgb(98, 194, 162);
    width: 125px;
    transition: 0.4s;
}

.btn_exit {
    display: flex;
    background-color: black;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin: 20px;
    color: aquamarine;
    background-color: black;
}

.btn_exit:hover {
    background-color: rgb(15, 14, 14);
    width: 125px;
    transition: 0.4s;
}

.btn_ok {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 120px;
    height: 45px;
    margin: 10px;
    margin-left: 60px;
    background-color: aquamarine;
    color: black;
}

.caja_switch{
    display: flex;
    flex-direction: column;
}

.opcionario {
    display: flex;
    flex-direction: column;
    line-height: 1.5;

} 

#preferencias {
    display: flex;
    gap: 25px;
    color: aliceblue;
    flex-direction: row;
}

#equipo{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#cromos_2B  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    width: 425px;
    height: 100px;
    margin-top: 10px;
    background-color: aquamarine;
    color: black;
}